/.project
build-aux/
configure
libtool
Makefile
*/Makefile
Makefile.in
*/Makefile.in
aclocal.m4
autom4te.cache/
config.*
m4/*
configurationmanagement-examples-*.tar.gz
cmexample1/cmexample1.json
cmexample1/libcmexample1.pc
!/m4/ax_cxx_compile_stdcxx.m4
*.o
*.la
*.lo
*.pb.h
*.pb.cc
*.png
.deps/
.libs/
.dirstamp
*.log
*.trs
*~
