
<html >
    <head>
         <title>hello</title>
    </head>
    <body>
    
        你好，请登陆
        <form action="/log" method="get">
            <input type="text" name="username" value="">
            <input type="text" name="password" value="">
            <input type="submit" name="press" value="提交">
            
        </form>
        <form action="/reg" method="POST">
            <input type="submit" name="press2" value=注册">
        </form>
        {{m}}
    </body>
    </html>